In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

df = pd.read_csv("./volleyball_raw.csv", encoding='utf8')

df

,경기번호,팀명,경기날짜,결과,No.,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),O,O,O,O,...,20,3,5,6,1,0.6,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),O,O,O,O,...,10,0,7,3,0,0.0,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),O,O,O,O,...,14,4,6,3,0,0.8,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),O,O,O,O,...,12,2,2,7,0,0.4,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),O,O,O,O,...,28,1,13,9,0,0.2,29.79,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,474,KGC인삼공사,2022-02-28,0,14,김혜원 (S),O,NaN,2,NaN,...,2,0,1,1,0,0.0,4.44,0,0,0
10993,474,KGC인삼공사,2022-02-28,0,8,나현수 (C),NaN,17,12,NaN,...,1,0,0,1,0,0.0,2.22,0,0,2
10994,474,KGC인삼공사,2022-02-28,0,5,노란 (Li),LI,NaN,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0
10995,474,KGC인삼공사,2022-02-28,0,15,이선우 (L),NaN,2,1,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0
10996,474,KGC인삼공사,2022-02-28,0,10,채선아 (Li),LI,LI,LI,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0

In [3]:
경기별_수치 = df.groupby(["경기번호", "팀명", "결과"]).sum()
경기별_수치

                 No.  득점_득점  공격종합_시도  공격종합_성공  공격종합_공격차단  공격종합_범실  공격종합_성공률  \
경기번호 팀명      결과
1    IBK기업은행 0    89     69      179       51         15       10    143.88
     흥국생명    1   127     83      193       63         11       15    135.52
2    KGC인삼공사 0    94     79      205       67         20        7    345.82
     현대건설    1   102    102      198       77          7       12    186.93
3    GS칼텍스   1   138     88      175       72          9        9    303.46
...              ...    ...      ...      ...        ...      ...       ...
472  흥국생명    0   111     38      108       32          8        8    186.29
473  페퍼저축은행  0   116     44      123       36         10        7    239.40
     한국도로공사  1   124     63      109       49          4        3    321.63
474  GS칼텍스   1   164     67       91       52          8        0    563.85
     KGC인삼공사 0   124     45      100       35         10        5    191.04

                 공격종합_점유율  오픈_시도  오픈_성공  ...  블로킹_시도  블로킹_성공  블로킹_유효블락  \
경기번호 팀명      결과                          ...
1    IBK기업은행 0     100.00     88     17  ...      94      11        37
     흥국생명    1      99.98    106     27  ...      72      15        38
2    KGC인삼공사 0     100.01    119     37  ...      78       7        31
     현대건설    1     100.01     92     31  ...     105      20        33
3    GS칼텍스   1     100.00     71     27  ...      72       7        28
...                   ...    ...    ...  ...     ...     ...       ...
472  흥국생명    0     100.00     57     19  ...      48       3        16
473  페퍼저축은행  0     100.00     90     22  ...      43       4        16
     한국도로공사  1     100.00     56     23  ...      73      10        21
474  GS칼텍스   1      99.99     38     22  ...      59      10        21
     KGC인삼공사 0     100.00     42     10  ...      45       8        13

                 블로킹_실패  블로킹_범실  블로킹_세트당  블로킹_점유율  블로킹_어시스트  벌칙_벌칙  범실_범실
경기번호 팀명      결과
1    IBK기업은행 0       30       2     2.25   100.01         8      0     25
     흥국생명    1       12       0     3.30   100.02        10      0     27
2    KGC인삼공사 0       22       2     1.40    99.99         5      0     14
     현대건설    1       30       3     4.00   100.01        17      0     29
3    GS칼텍스   1       25       0     1.45   100.00         6      0     25
...                 ...     ...      ...      ...       ...    ...    ...
472  흥국생명    0       18       2     0.99    99.99         3      0     15
473  페퍼저축은행  0       13       0     1.33   100.01         3      0     12
     한국도로공사  1       19       0     3.33   100.01         9      0     11
474  GS칼텍스   1       17       1     3.34    99.98         8      0      7
     KGC인삼공사 0       17       0     2.67    99.99         7      0     11

[948 rows x 75 columns]

In [4]:
경기별_수치=경기별_수치.reset_index().reset_index()
경기별_수치

,index,경기번호,팀명,결과,No.,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,0,1,IBK기업은행,0,89,69,179,51,15,10,...,94,11,37,30,2,2.25,100.01,8,0,25
1,1,1,흥국생명,1,127,83,193,63,11,15,...,72,15,38,12,0,3.30,100.02,10,0,27
2,2,2,KGC인삼공사,0,94,79,205,67,20,7,...,78,7,31,22,2,1.40,99.99,5,0,14
3,3,2,현대건설,1,102,102,198,77,7,12,...,105,20,33,30,3,4.00,100.01,17,0,29
4,4,3,GS칼텍스,1,138,88,175,72,9,9,...,72,7,28,25,0,1.45,100.00,6,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,943,472,흥국생명,0,111,38,108,32,8,8,...,48,3,16,18,2,0.99,99.99,3,0,15
944,944,473,페퍼저축은행,0,116,44,123,36,10,7,...,43,4,16,13,0,1.33,100.01,3,0,12
945,945,473,한국도로공사,1,124,63,109,49,4,3,...,73,10,21,19,0,3.33,100.01,9,0,11
946,946,474,GS칼텍스,1,164,67,91,52,8,0,...,59,10,21,17,1,3.34,99.98,8,0,7
947,947,474,KGC인삼공사,0,124,45,100,35,10,5,...,45,8,13,17,0,2.67,99.99,7,0,11

In [5]:
경기별_수치["홈_어웨이"]=경기별_수치['index'].apply(lambda x : 0 if x%2==0 else 1)
경기별_수치

,index,경기번호,팀명,결과,No.,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,홈_어웨이
0,0,1,IBK기업은행,0,89,69,179,51,15,10,...,11,37,30,2,2.25,100.01,8,0,25,0
1,1,1,흥국생명,1,127,83,193,63,11,15,...,15,38,12,0,3.30,100.02,10,0,27,1
2,2,2,KGC인삼공사,0,94,79,205,67,20,7,...,7,31,22,2,1.40,99.99,5,0,14,0
3,3,2,현대건설,1,102,102,198,77,7,12,...,20,33,30,3,4.00,100.01,17,0,29,1
4,4,3,GS칼텍스,1,138,88,175,72,9,9,...,7,28,25,0,1.45,100.00,6,0,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,943,472,흥국생명,0,111,38,108,32,8,8,...,3,16,18,2,0.99,99.99,3,0,15,1
944,944,473,페퍼저축은행,0,116,44,123,36,10,7,...,4,16,13,0,1.33,100.01,3,0,12,0
945,945,473,한국도로공사,1,124,63,109,49,4,3,...,10,21,19,0,3.33,100.01,9,0,11,1
946,946,474,GS칼텍스,1,164,67,91,52,8,0,...,10,21,17,1,3.34,99.98,8,0,7,0
947,947,474,KGC인삼공사,0,124,45,100,35,10,5,...,8,13,17,0,2.67,99.99,7,0,11,1

In [6]:
tmp = 경기별_수치.copy()
home_index = 경기별_수치[경기별_수치['index']/2+1==경기별_수치['경기번호']].index
away_index = 경기별_수치[경기별_수치['index']/2+1!=경기별_수치['경기번호']].index
경기별_수치.iloc[home_index,-1]=tmp.iloc[away_index,2]
경기별_수치.iloc[away_index,-1]=tmp.iloc[home_index,2]
경기별_수치

,index,경기번호,팀명,결과,No.,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,홈_어웨이
0,0,1,IBK기업은행,0,89,69,179,51,15,10,...,11,37,30,2,2.25,100.01,8,0,25,흥국생명
1,1,1,흥국생명,1,127,83,193,63,11,15,...,15,38,12,0,3.30,100.02,10,0,27,IBK기업은행
2,2,2,KGC인삼공사,0,94,79,205,67,20,7,...,7,31,22,2,1.40,99.99,5,0,14,현대건설
3,3,2,현대건설,1,102,102,198,77,7,12,...,20,33,30,3,4.00,100.01,17,0,29,KGC인삼공사
4,4,3,GS칼텍스,1,138,88,175,72,9,9,...,7,28,25,0,1.45,100.00,6,0,25,한국도로공사
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,943,472,흥국생명,0,111,38,108,32,8,8,...,3,16,18,2,0.99,99.99,3,0,15,IBK기업은행
944,944,473,페퍼저축은행,0,116,44,123,36,10,7,...,4,16,13,0,1.33,100.01,3,0,12,한국도로공사
945,945,473,한국도로공사,1,124,63,109,49,4,3,...,10,21,19,0,3.33,100.01,9,0,11,페퍼저축은행
946,946,474,GS칼텍스,1,164,67,91,52,8,0,...,10,21,17,1,3.34,99.98,8,0,7,KGC인삼공사
947,947,474,KGC인삼공사,0,124,45,100,35,10,5,...,8,13,17,0,2.67,99.99,7,0,11,GS칼텍스

In [7]:
a = ['GS칼텍스', '흥국생명', '한국도로공사', "IBK기업은행", "KGC인삼공사", "현대건설", "페퍼저축은행"]
b=list(range(0,7))
dic = dict(zip(a,b))
dic

{'GS칼텍스': 0,
 '흥국생명': 1,
 '한국도로공사': 2,
 'IBK기업은행': 3,
 'KGC인삼공사': 4,
 '현대건설': 5,
 '페퍼저축은행': 6}

In [8]:
경기별_수치['팀코드']= 경기별_수치['팀명'].replace(dic)
경기별_수치

,index,경기번호,팀명,결과,No.,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,홈_어웨이,팀코드
0,0,1,IBK기업은행,0,89,69,179,51,15,10,...,37,30,2,2.25,100.01,8,0,25,흥국생명,3
1,1,1,흥국생명,1,127,83,193,63,11,15,...,38,12,0,3.30,100.02,10,0,27,IBK기업은행,1
2,2,2,KGC인삼공사,0,94,79,205,67,20,7,...,31,22,2,1.40,99.99,5,0,14,현대건설,4
3,3,2,현대건설,1,102,102,198,77,7,12,...,33,30,3,4.00,100.01,17,0,29,KGC인삼공사,5
4,4,3,GS칼텍스,1,138,88,175,72,9,9,...,28,25,0,1.45,100.00,6,0,25,한국도로공사,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,943,472,흥국생명,0,111,38,108,32,8,8,...,16,18,2,0.99,99.99,3,0,15,IBK기업은행,1
944,944,473,페퍼저축은행,0,116,44,123,36,10,7,...,16,13,0,1.33,100.01,3,0,12,한국도로공사,6
945,945,473,한국도로공사,1,124,63,109,49,4,3,...,21,19,0,3.33,100.01,9,0,11,페퍼저축은행,2
946,946,474,GS칼텍스,1,164,67,91,52,8,0,...,21,17,1,3.34,99.98,8,0,7,KGC인삼공사,0
947,947,474,KGC인삼공사,0,124,45,100,35,10,5,...,13,17,0,2.67,99.99,7,0,11,GS칼텍스,4

In [9]:
경기별_수치.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 81 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      948 non-null    int64
 1   경기번호       948 non-null    int64
 2   팀명         948 non-null    object
 3   결과         948 non-null    int64
 4   No.        948 non-null    int64
 5   득점_득점      948 non-null    int64
 6   공격종합_시도    948 non-null    int64
 7   공격종합_성공    948 non-null    int64
 8   공격종합_공격차단  948 non-null    int64
 9   공격종합_범실    948 non-null    int64
 10  공격종합_성공률   948 non-null    float64
 11  공격종합_점유율   948 non-null    float64
 12  오픈_시도      948 non-null    int64
 13  오픈_성공      948 non-null    int64
 14  오픈_공격차단    948 non-null    int64
 15  오픈_범실      948 non-null    int64
 16  오픈_성공률     948 non-null    float64
 17  오픈_점유율     948 non-null    float64
 18  시간차_시도     948 non-null    int64
 19  시간차_성공     948 non-null    int64
 20  시간차_공격차단   948 non-null    int64
 21  시간차_범실     948 non-null    int64
 22  시간차_성공률    948 non-null    float64
 23  시간차_점유율    948 non-null    float64
 24  이동_시도      948 non-null    int64
 25  이동_성공      948 non-null    int64
 26  이동_공격차단    948 non-null    int64
 27  이동_범실      948 non-null    int64
 28  이동_성공률     948 non-null    float64
 29  이동_점유율     948 non-null    float64
 30  후위_시도      948 non-null    int64
 31  후위_성공      948 non-null    int64
 32  후위_공격차단    948 non-null    int64
 33  후위_범실      948 non-null    int64
 34  후위_성공률     948 non-null    float64
 35  후위_점유율     948 non-null    float64
 36  속공_시도      948 non-null    int64
 37  속공_성공      948 non-null    int64
 38  속공_공격차단    948 non-null    int64
 39  속공_범실      948 non-null    int64
 40  속공_성공률     948 non-null    float64
 41  속공_점유율     948 non-null    float64
 42  퀵오픈_시도     948 non-null    int64
 43  퀵오픈_성공     948 non-null    int64
 44  퀵오픈_공격차단   948 non-null    int64
 45  퀵오픈_범실     948 non-null    int64
 46  퀵오픈_성공률    948 non-null    float64
 47  퀵오픈_점유율    948 non-null    float64
 48  서브_시도      948 non-null    int64
 49  서브_성공      948 non-null    int64
 50  서브_범실      948 non-null    int64
 51  서브_성공률     948 non-null    float64
 52  서브_점유율     948 non-null    float64
 53  디그_시도      948 non-null    int64
 54  디그_성공      948 non-null    int64
 55  디그_실패      948 non-null    int64
 56  디그_범실      948 non-null    int64
 57  디그_세트당     948 non-null    float64
 58  디그_점유율     948 non-null    float64
 59  세트_시도      948 non-null    int64
 60  세트_성공      948 non-null    int64
 61  세트_범실      948 non-null    int64
 62  세트_세트당     948 non-null    float64
 63  세트_점유율     948 non-null    float64
 64  리시브_시도     948 non-null    int64
 65  리시브_정확     948 non-null    int64
 66  리시브_실패     948 non-null    int64
 67  리시브_세트당    948 non-null    float64
 68  리시브_점유율    948 non-null    float64
 69  블로킹_시도     948 non-null    int64
 70  블로킹_성공     948 non-null    int64
 71  블로킹_유효블락   948 non-null    int64
 72  블로킹_실패     948 non-null    int64
 73  블로킹_범실     948 non-null    int64
 74  블로킹_세트당    948 non-null    float64
 75  블로킹_점유율    948 non-null    float64
 76  블로킹_어시스트   948 non-null    int64
 77  벌칙_벌칙      948 non-null    int64
 78  범실_범실      948 non-null    int64
 79  홈_어웨이      948 non-null    object
 80  팀코드        948 non-null    int64
dtypes: float64(24), int64(55), object(2)
memory usage: 600.0+ KB

# 시즌별 경기 나누기

In [50]:
# 시즌별 경기 나누기
# ex) df17 : 17년도 시즌 경기
df = pd.read_csv('여자배구_경기별_수치_.csv')
df17 = df.loc[df['경기날짜'].between('2017-10-01', '2018-04-30')]
df18 = df.loc[df['경기날짜'].between('2018-10-01', '2019-04-30')]
df19 = df.loc[df['경기날짜'].between('2019-10-01', '2020-04-30')]
df20 = df.loc[df['경기날짜'].between('2020-10-01', '2021-05-30')]
df21 = df.loc[df['경기날짜'].between('2021-10-01', '2022-03-30')]

,경기번호,경기날짜,팀명,홈_어웨이,결과,No.,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,...,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,팀코드
0,1,2017-10-14,IBK기업은행,1,0,89,69,179,51,15,...,11,37,30,2,2.25,100.01,8,0,25,3
1,1,2017-10-14,흥국생명,0,1,127,83,193,63,11,...,15,38,12,0,3.30,100.02,10,0,27,1
2,2,2017-10-15,KGC인삼공사,1,0,94,79,205,67,20,...,7,31,22,2,1.40,99.99,5,0,14,4
3,2,2017-10-15,현대건설,0,1,102,102,198,77,7,...,20,33,30,3,4.00,100.01,17,0,29,5
4,3,2017-10-17,GS칼텍스,0,1,138,88,175,72,9,...,7,28,25,0,1.45,100.00,6,0,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,94,2018-03-23,한국도로공사,1,1,123,85,178,73,7,...,8,21,31,2,1.60,99.99,7,0,24,2
188,95,2018-03-25,IBK기업은행,0,0,104,69,140,59,9,...,8,25,19,2,2.00,100.00,8,0,19,3
189,95,2018-03-25,한국도로공사,1,1,119,76,149,62,8,...,9,26,22,0,2.25,100.01,7,0,13,2
190,96,2018-03-27,IBK기업은행,1,0,105,61,149,52,9,...,6,25,21,1,1.50,100.00,4,0,17,3
191,96,2018-03-27,한국도로공사,0,1,123,79,139,63,6,...,9,24,25,0,3.00,100.00,8,0,16,2

In [41]:
홈_승_5세트_17시즌 = df17[(df17['5SET']>0) & (df17['결과']==1) & (df17['홈_어웨이']==1)]
홈_승_4세트_17시즌 = df17[(df17['4SET']>0) & (df17['5SET'] == 0) &(df17['결과']==1) & (df17['홈_어웨이']==1)]
홈_승_3세트_17시즌 = df17[(df17['4SET']==0) &(df17['결과']==1) & (df17['홈_어웨이']==0)]
어웨이_승_17시즌 =df17[(df17['결과']==1) & (df17['홈_어웨이']==1)]
홈_승_3세트_17시즌['팀명'].value_counts()

한국도로공사     5
현대건설       4
IBK기업은행    3
흥국생명       3
Name: 팀명, dtype: int64

In [42]:
홈_승_4세트_17시즌['팀명'].value_counts()

한국도로공사     3
IBK기업은행    2
KGC인삼공사    2
현대건설       2
GS칼텍스      2
Name: 팀명, dtype: int64

In [43]:
홈_승_5세트_17시즌['팀명'].value_counts()

GS칼텍스      5
KGC인삼공사    4
IBK기업은행    3
한국도로공사     2
Name: 팀명, dtype: int64

In [4]:
# 17년도 데이터 처리

# 총경기수 추출
총경기수 = df17.groupby(['경기번호','팀명'])['팀명'].unique().value_counts()
총경기수.reset_index()
경기_17 = pd.DataFrame({'팀명': 총경기수.index, '총경기수':총경기수.values})
경기_17['팀명'] = 경기_17.loc[:,'팀명'].str[0]

# 이긴결과 추출
이긴 = df17.groupby(['경기번호','팀명'])[['결과']].sum()
이긴[이긴['결과'] > 0] = 1
이긴경기 = 이긴.groupby('팀명').sum()
이긴경기.reset_index()

경기_17 = pd.merge(경기_17, 이긴경기, left_on='팀명', right_on='팀명')
경기_17.rename(columns={'결과':'이긴경기'}, inplace=True) 
경기_17 = 경기_17.astype({'총경기수':'int', '이긴경기':'int'})
경기_17['승률'] = (경기_17['이긴경기']/경기_17['총경기수'])*100
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['공격종합_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['시간차_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['이동_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['후위_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['속공_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['퀵오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['서브_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['디그_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['세트_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['리시브_정확']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17 = pd.merge(경기_17,df17.groupby(['팀명'])[['블로킹_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_17['시즌'] = '17-18'
경기_17

,팀명,총경기수,이긴경기,승률,공격종합_성공률,오픈_성공률,시간차_성공률,이동_성공률,후위_성공률,속공_성공률,퀵오픈_성공률,서브_성공률,디그_성공,세트_성공,리시브_정확,블로킹_성공,시즌
0,IBK기업은행,36,21,58.333333,229.780556,199.558611,133.419722,93.260278,79.472778,79.404722,180.535556,1.323611,81.916667,51.694444,30.305556,8.166667,17-18
1,현대건설,33,15,45.454545,234.146970,184.190000,151.566061,23.838485,65.201515,98.708485,140.250606,1.336364,77.696970,48.363636,32.151515,10.848485,17-18
2,한국도로공사,33,24,72.727273,262.640000,210.370909,173.289697,94.957879,73.762121,94.190909,180.644545,1.288182,83.303030,53.545455,38.636364,8.909091,17-18
3,흥국생명,30,11,36.666667,233.482000,195.205000,113.234000,60.527667,67.957333,71.189667,125.272667,1.218667,84.900000,48.500000,35.433333,6.766667,17-18
4,KGC인삼공사,30,12,40.000000,233.045667,211.219667,118.528333,31.110667,51.145333,83.049667,145.544667,0.954333,82.366667,45.833333,31.333333,8.133333,17-18
5,GS칼텍스,30,13,43.333333,258.080333,221.325667,101.425667,15.833333,73.426000,84.044333,151.490333,1.422667,77.766667,53.533333,34.366667,7.100000,17-18

In [12]:
# 18년도 데이터 처리

# 총경기수 추출
총경기수 = df18.groupby(['경기번호','팀명'])['팀명'].unique().value_counts()
총경기수.reset_index()
경기_18 = pd.DataFrame({'팀명': 총경기수.index, '총경기수':총경기수.values})
경기_18['팀명'] = 경기_18.loc[:,'팀명'].str[0]

# 이긴결과 추출
이긴 = df18.groupby(['경기번호','팀명'])[['결과']].sum()
이긴[이긴['결과'] > 0] = 1
이긴경기 = 이긴.groupby('팀명').sum()
이긴경기.reset_index()

경기_18 = pd.merge(경기_18, 이긴경기, left_on='팀명', right_on='팀명')
경기_18.rename(columns={'결과':'이긴경기'}, inplace=True) 
경기_18 = 경기_18.astype({'총경기수':'int', '이긴경기':'int'})
경기_18['승률'] = (경기_18['이긴경기']/경기_18['총경기수'])*100
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['공격종합_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['시간차_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['이동_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['후위_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['속공_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['퀵오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['서브_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['디그_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['세트_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['리시브_정확']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18 = pd.merge(경기_18,df18.groupby(['팀명'])[['블로킹_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_18['시즌'] = '18-19'
경기_18

,팀명,총경기수,이긴경기,승률,공격종합_성공률,오픈_성공률,시간차_성공률,이동_성공률,후위_성공률,속공_성공률,퀵오픈_성공률,서브_성공률,디그_성공,세트_성공,리시브_정확,블로킹_성공,시즌
0,한국도로공사,37,25,67.567568,24.038621,20.228341,13.902944,8.423341,5.769276,8.022360,14.526262,0.077967,7.677570,4.675234,3.605140,0.771028,18-19
1,흥국생명,34,22,64.705882,21.794680,19.584910,12.593453,4.473325,6.642916,7.107187,10.681125,0.091355,7.465473,4.480818,2.984655,0.728900,18-19
2,GS칼텍스,33,16,48.484848,21.434354,18.312101,7.172987,1.316456,6.297544,6.985367,14.295468,0.098354,6.726582,4.326582,2.716456,0.688608,18-19
3,IBK기업은행,30,17,56.666667,22.056716,18.953462,12.347189,5.427604,4.876982,9.011923,14.058876,0.110266,7.494083,4.573964,3.144970,0.792899,18-19
4,현대건설,30,11,36.666667,24.521678,22.182432,10.542260,1.055925,5.833664,9.544178,15.786575,0.099555,7.828767,4.859589,3.479452,0.794521,18-19
5,KGC인삼공사,30,6,20.000000,22.544464,18.813130,12.284986,3.719797,3.901797,6.977855,16.126464,0.077507,6.666667,3.782609,3.063768,0.620290,18-19

In [13]:
# 19년도 데이터 처리

# 총경기수 추출
총경기수 = df19.groupby(['경기번호','팀명'])['팀명'].unique().value_counts()
총경기수.reset_index()
경기_19 = pd.DataFrame({'팀명': 총경기수.index, '총경기수':총경기수.values})
경기_19['팀명'] = 경기_19.loc[:,'팀명'].str[0]

# 이긴결과 추출
이긴 = df19.groupby(['경기번호','팀명'])[['결과']].sum()
이긴[이긴['결과'] > 0] = 1
이긴경기 = 이긴.groupby('팀명').sum()
이긴경기.reset_index()

경기_19 = pd.merge(경기_19, 이긴경기, left_on='팀명', right_on='팀명')
경기_19.rename(columns={'결과':'이긴경기'}, inplace=True) 
경기_19 = 경기_19.astype({'총경기수':'int', '이긴경기':'int'})
경기_19['승률'] = (경기_19['이긴경기']/경기_19['총경기수'])*100
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['공격종합_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['시간차_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['이동_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['후위_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['속공_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['퀵오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['서브_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['디그_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['세트_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['리시브_정확']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19 = pd.merge(경기_19,df19.groupby(['팀명'])[['블로킹_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_19['시즌'] = '19-20'
경기_19

,팀명,총경기수,이긴경기,승률,공격종합_성공률,오픈_성공률,시간차_성공률,이동_성공률,후위_성공률,속공_성공률,퀵오픈_성공률,서브_성공률,디그_성공,세트_성공,리시브_정확,블로킹_성공,시즌
0,흥국생명,27,16,59.259259,21.197563,18.184594,12.442687,5.619719,7.092094,8.049406,12.727531,0.109094,7.503125,4.431250,2.296875,0.700000,19-20
1,IBK기업은행,27,9,33.333333,19.939180,17.214385,10.935868,5.317697,3.972177,7.066562,11.462681,0.101861,6.580442,3.984227,2.280757,0.624606,19-20
2,GS칼텍스,27,18,66.666667,22.097835,19.547151,7.668547,3.584957,6.641681,6.813590,14.146211,0.111538,5.897436,3.894587,2.153846,0.715100,19-20
3,현대건설,27,17,62.962963,26.974259,23.643593,8.858000,1.388889,3.762593,11.078704,15.829593,0.124630,7.637037,4.966667,2.825926,0.959259,19-20
4,한국도로공사,26,8,30.769231,23.901827,18.482212,9.536763,4.887821,8.448429,8.083686,16.677500,0.106410,7.147436,4.051282,3.073718,0.576923,19-20
5,KGC인삼공사,26,12,46.153846,21.909299,17.728057,8.877771,5.796146,4.476051,7.707548,14.509809,0.111656,7.480892,4.611465,2.761146,0.716561,19-20

In [14]:
# 20년도 데이터 처리

# 총경기수 추출
총경기수 = df20.groupby(['경기번호','팀명'])['팀명'].unique().value_counts()
총경기수.reset_index()
경기_20 = pd.DataFrame({'팀명': 총경기수.index, '총경기수':총경기수.values})
경기_20['팀명'] = 경기_20.loc[:,'팀명'].str[0]

# 이긴결과 추출
이긴 = df20.groupby(['경기번호','팀명'])[['결과']].sum()
이긴[이긴['결과'] > 0] = 1
이긴경기 = 이긴.groupby('팀명').sum()
이긴경기.reset_index()

경기_20 = pd.merge(경기_20, 이긴경기, left_on='팀명', right_on='팀명')
경기_20.rename(columns={'결과':'이긴경기'}, inplace=True) 
경기_20 = 경기_20.astype({'총경기수':'int', '이긴경기':'int'})
경기_20['승률'] = (경기_20['이긴경기']/경기_20['총경기수'])*100
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['공격종합_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['시간차_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['이동_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['후위_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['속공_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['퀵오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['서브_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['디그_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['세트_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['리시브_정확']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20 = pd.merge(경기_20,df20.groupby(['팀명'])[['블로킹_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_20['시즌'] = '20-21'
경기_20

,팀명,총경기수,이긴경기,승률,공격종합_성공률,오픈_성공률,시간차_성공률,이동_성공률,후위_성공률,속공_성공률,퀵오픈_성공률,서브_성공률,디그_성공,세트_성공,리시브_정확,블로킹_성공,시즌
0,흥국생명,36,22,61.111111,22.318910,19.898184,10.941090,3.424964,5.855012,6.017772,13.355835,0.106102,6.539952,4.200969,2.486683,0.663438,20-21
1,GS칼텍스,33,22,66.666667,22.741674,18.759535,8.144488,0.542628,4.288023,6.728116,16.533256,0.097744,6.211628,4.374419,2.676744,0.711628,20-21
2,IBK기업은행,33,14,42.424242,22.015409,20.100789,11.822602,5.360994,6.108070,8.584678,12.774766,0.100439,7.745614,4.950292,2.687135,0.725146,20-21
3,현대건설,30,11,36.666667,21.080400,19.964486,10.757171,2.023800,5.631714,9.851571,12.520257,0.065657,7.265714,4.748571,2.751429,0.722857,20-21
4,KGC인삼공사,30,13,43.333333,23.297022,20.926713,7.643118,5.056180,4.520562,7.324101,13.907388,0.094719,6.691011,4.348315,2.648876,0.705056,20-21
5,한국도로공사,30,14,46.666667,21.839617,19.721121,9.686047,5.764513,8.494307,7.013599,13.970708,0.080295,7.247788,4.412979,3.076696,0.873156,20-21

In [15]:
# 21년도 데이터 처리

# 총경기수 추출
총경기수 = df21.groupby(['경기번호','팀명'])['팀명'].unique().value_counts()
총경기수.reset_index()
경기_21 = pd.DataFrame({'팀명': 총경기수.index, '총경기수':총경기수.values})
경기_21['팀명'] = 경기_21.loc[:,'팀명'].str[0]

# 이긴결과 추출
이긴 = df21.groupby(['경기번호','팀명'])[['결과']].sum()
이긴[이긴['결과'] > 0] = 1
이긴경기 = 이긴.groupby('팀명').sum()
이긴경기.reset_index()

경기_21 = pd.merge(경기_21, 이긴경기, left_on='팀명', right_on='팀명')
경기_21.rename(columns={'결과':'이긴경기'}, inplace=True) 
경기_21 = 경기_21.astype({'총경기수':'int', '이긴경기':'int'})
경기_21['승률'] = (경기_21['이긴경기']/경기_21['총경기수'])*100
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['공격종합_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['시간차_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['이동_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['후위_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['속공_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['퀵오픈_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['서브_성공률']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['디그_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['세트_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['리시브_정확']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21 = pd.merge(경기_21,df21.groupby(['팀명'])[['블로킹_성공']].mean().reset_index(), left_on='팀명', right_on='팀명' )
경기_21['시즌'] = '21-22'
경기_21

,팀명,총경기수,이긴경기,승률,공격종합_성공률,오픈_성공률,시간차_성공률,이동_성공률,후위_성공률,속공_성공률,퀵오픈_성공률,서브_성공률,디그_성공,세트_성공,리시브_정확,블로킹_성공,시즌
0,GS칼텍스,30,21,70.000000,23.634883,18.927117,7.167610,1.818182,4.476468,9.096338,13.862000,0.112831,5.358442,3.833766,2.168831,0.555844,21-22
1,흥국생명,30,9,30.000000,24.600388,20.792597,8.456030,3.436358,4.663791,8.687104,14.899343,0.090836,6.838806,4.038806,2.119403,0.710448,21-22
2,IBK기업은행,30,10,33.333333,21.463763,17.166129,10.682285,5.989140,3.479032,6.829946,14.309301,0.080000,6.064516,3.653226,1.948925,0.626344,21-22
3,현대건설,30,25,83.333333,23.174688,20.422292,11.470104,2.886250,6.264609,8.386536,15.768490,0.125391,5.960938,4.067708,2.020833,0.739583,21-22
4,KGC인삼공사,30,14,46.666667,24.372005,20.211291,6.213352,4.317775,4.862253,7.806401,14.131511,0.105000,6.208791,3.802198,2.162088,0.684066,21-22
5,페퍼저축은행,30,3,10.000000,18.393281,17.232887,12.095381,2.996483,4.564173,5.684934,11.484593,0.086325,4.779528,3.073491,1.839895,0.417323,21-22
6,한국도로공사,30,23,76.666667,23.597110,19.710425,13.477479,5.217167,8.051558,6.223569,16.035552,0.103541,6.592068,4.082153,2.501416,0.849858,21-22

In [16]:
# 시즌별, 팀별 데이터
경기_시즌별 = pd.concat([경기_17, 경기_18, 경기_19, 경기_20, 경기_21])

# 컬럼순서변경
경기_시즌별= 경기_시즌별[['시즌','팀명', '총경기수', '이긴경기', '승률', '공격종합_성공률', '오픈_성공률', '시간차_성공률', '이동_성공률',
       '후위_성공률', '속공_성공률', '퀵오픈_성공률', '서브_성공률', '디그_성공', '세트_성공', '리시브_정확',
       '블로킹_성공']]
경기_시즌별

,시즌,팀명,총경기수,이긴경기,승률,공격종합_성공률,오픈_성공률,시간차_성공률,이동_성공률,후위_성공률,속공_성공률,퀵오픈_성공률,서브_성공률,디그_성공,세트_성공,리시브_정확,블로킹_성공
0,17-18,IBK기업은행,36,21,58.333333,21.541927,18.708620,12.508099,8.743151,7.450573,7.444193,16.925208,0.124089,7.679688,4.846354,2.841146,0.765625
1,17-18,현대건설,33,15,45.454545,25.670598,20.193588,16.616877,2.613522,7.148339,10.821860,15.376312,0.146512,8.518272,5.302326,3.524917,1.189369
2,17-18,한국도로공사,33,24,72.727273,22.989708,18.414430,15.168594,8.311963,6.456631,8.244828,15.812387,0.112759,7.291777,4.687003,3.381963,0.779841
3,17-18,흥국생명,30,11,36.666667,18.930973,15.827432,9.181135,4.907649,5.510054,5.772135,10.157243,0.098811,6.883784,3.932432,2.872973,0.548649
4,17-18,KGC인삼공사,30,12,40.000000,21.380336,19.377951,10.874159,2.854190,4.692232,7.619235,13.352722,0.087554,7.556575,4.204893,2.874618,0.746177
5,17-18,GS칼텍스,30,13,43.333333,21.447119,18.392715,8.428726,1.315789,6.101884,6.984294,12.589224,0.118227,6.462604,4.448753,2.855956,0.590028
0,18-19,한국도로공사,37,25,67.567568,24.038621,20.228341,13.902944,8.423341,5.769276,8.022360,14.526262,0.077967,7.677570,4.675234,3.605140,0.771028
1,18-19,흥국생명,34,22,64.705882,21.794680,19.584910,12.593453,4.473325,6.642916,7.107187,10.681125,0.091355,7.465473,4.480818,2.984655,0.728900
2,18-19,GS칼텍스,33,16,48.484848,21.434354,18.312101,7.172987,1.316456,6.297544,6.985367,14.295468,0.098354,6.726582,4.326582,2.716456,0.688608
3,18-19,IBK기업은행,30,17,56.666667,22.056716,18.953462,12.347189,5.427604,4.876982,9.011923,14.058876,0.110266,7.494083,4.573964,3.144970,0.792899
4,18-19,현대건설,30,11,36.666667,24.521678,22.182432,10.542260,1.055925,5.833664,9.544178,15.786575,0.099555,7.828767,4.859589,3.479452,0.794521
5,18-19,KGC인삼공사,30,6,20.000000,22.544464,18.813130,12.284986,3.719797,3.901797,6.977855,16.126464,0.077507,6.666667,3.782609,3.063768,0.620290
0,19-20,흥국생명,27,16,59.259259,21.197563,18.184594,12.442687,5.619719,7.092094,8.049406,12.727531,0.109094,7.503125,4.431250,2.296875,0.700000
1,19-20,IBK기업은행,27,9,33.333333,19.939180,17.214385,10.935868,5.317697,3.972177,7.066562,11.462681,0.101861,6.580442,3.984227,2.280757,0.624606
2,19-20,GS칼텍스,27,18,66.666667,22.097835,19.547151,7.668547,3.584957,6.641681,6.813590,14.146211,0.111538,5.897436,3.894587,2.153846,0.715100
3,19-20,현대건설,27,17,62.962963,26.974259,23.643593,8.858000,1.388889,3.762593,11.078704,15.829593,0.124630,7.637037,4.966667,2.825926,0.959259
4,19-20,한국도로공사,26,8,30.769231,23.901827,18.482212,9.536763,4.887821,8.448429,8.083686,16.677500,0.106410,7.147436,4.051282,3.073718,0.576923
5,19-20,KGC인삼공사,26,12,46.153846,21.909299,17.728057,8.877771,5.796146,4.476051,7.707548,14.509809,0.111656,7.480892,4.611465,2.761146,0.716561
0,20-21,흥국생명,36,22,61.111111,22.318910,19.898184,10.941090,3.424964,5.855012,6.017772,13.355835,0.106102,6.539952,4.200969,2.486683,0.663438
1,20-21,GS칼텍스,33,22,66.666667,22.741674,18.759535,8.144488,0.542628,4.288023,6.728116,16.533256,0.097744,6.211628,4.374419,2.676744,0.711628
2,20-21,IBK기업은행,33,14,42.424242,22.015409,20.100789,11.822602,5.360994,6.108070,8.584678,12.774766,0.100439,7.745614,4.950292,2.687135,0.725146
3,20-21,현대건설,30,11,36.666667,21.080400,19.964486,10.757171,2.023800,5.631714,9.851571,12.520257,0.065657,7.265714,4.748571,2.751429,0.722857
4,20-21,KGC인삼공사,30,13,43.333333,23.297022,20.926713,7.643118,5.056180,4.520562,7.324101,13.907388,0.094719,6.691011,4.348315,2.648876,0.705056
5,20-21,한국도로공사,30,14,46.666667,21.839617,19.721121,9.686047,5.764513,8.494307,7.013599,13.970708,0.080295,7.247788,4.412979,3.076696,0.873156
0,21-22,GS칼텍스,30,21,70.000000,23.634883,18.927117,7.167610,1.818182,4.476468,9.096338,13.862000,0.112831,5.358442,3.833766,2.168831,0.555844
1,21-22,흥국생명,30,9,30.000000,24.600388,20.792597,8.456030,3.436358,4.663791,8.687104,14.899343,0.090836,6.838806,4.038806,2.119403,0.710448
2,21-22,IBK기업은행,30,10,33.333333,21.463763,17.166129,10.682285,5.989140,3.479032,6.829946,14.309301,0.080000,6.064516,3.653226,1.948925,0.626344
3,21-22,현대건설,30,25,83.333333,23.174688,20.422292,11.470104,2.886250,6.264609,8.386536,15.768490,0.125391,5.960938,4.067708,2.020833,0.739583
4,21-22,KGC인삼공사,30,14,46.666667,24.372005,20.211291,6.213352,4.317775,4.862253,7.806401,14.131511,0.105000,6.208791,3.802198,2.162088,0.684066
5,21-22,페퍼저축은행,30,3,10.000000,18.393281,17.232887,12.095381,2.996483,4.564173,5.684934,11.484593,0.086325,4.779528,3.073491,1.839895,0.417323
6,21-22,한국도로공사,30,23,76.666667,23.597110,19.710425,13.477479,5.217167,8.051558,6.223569,16.035552,0.103541,6.592068,4.082153,2.501416,0.849858