In [6]:
a = 10000
b = a* 10000 * 10000 * 10000 * 10000
print(b)
b * b

100000000000000000000

10000000000000000000000000000000000000000

In [8]:
type(b)

int

In [11]:
이름 = "김길동"
print(이름)

김길동

In [21]:
i = 100
j2 = 0b111
j8 = 0o760
j16 = 0x9abcdef

In [32]:
today = 20220801
year = today//10000
month = today % 10000 // 100
day = today % 10000 % 100
year, month, day

(2022, 8, 1)

In [37]:
"1" + "2"

'12'

In [35]:
1

1

In [44]:
bool({})

False

In [45]:
s1 = "홍"
s1

'홍'

In [51]:
poem = "구름에 달 가듯이 가는 나그네 \
길은 외줄기 남도삼백리"
poem

'구름에 달 가듯이 가는 나그네 길은 외줄기 남도삼백리'

In [53]:
poem = """구름에 달 가듯이 나그네 
길은 외줄기 남도삼백리
"""
poem

'구름에 달 가듯이 나그네 \n길은 외줄기 남도삼백리\n'

# 연습문제1
## 연습문제1

In [55]:
a = '210101-1234567'
b = a.split('-')
c = b[1]
c[0]

'1'

# 연습문제2

In [57]:
ab = '20210101Sunny'
date = ab[:8]
weather = ab[8:]
date, weather

('20210101', 'Sunny')

In [62]:
name="홍길동"
age = 30
print(name + '은 ' + str(age) + '살' )

홍길동은 30살

In [66]:
print("%s은 %s살"%(name, age))
print("%s은 %d살"%(name, age))

홍길동은 30살
홍길동은 30살

In [70]:
print("{0}은 {1}살. {0}은 젊어요.".format(name, age))

홍길동은 30살. 홍길동은 젊어요.

In [73]:
print(f"{name}은 {age}살. {2022-age}년 생")

홍길동은 30살. 1992년 생

In [76]:
f"{name}의 길이는 {len(name)}"

'홍길동의 길이는 3'

In [81]:
"홍길동.3".isalnum()

False

In [84]:
"홍길동 김길동".index("길동",3)

5

In [87]:
"홍길동".startswith("김")

False

In [90]:
"  abc def   ".strip()

'abc def'

In [91]:
print? #?를 붙이면 함수에 대한 설명을 볼 수 있음

In [96]:
print(name,age,a, sep="__") #기본값은 공백(" ")

홍길동__30__210101-1234567

In [99]:
print(a, end="") #기본값은 줄바꿈(\n)
print(b)

210101-1234567['210101', '1234567']

In [1]:
ans = input("이름은? ")

이름은? 김길동

In [3]:
print(ans)

김길동

In [4]:
a = 90
b = 70
#리스트
반1 = [70, 80, 90]

In [12]:
import random
lotto = [
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45)
]
lotto

[11, 39, 7, 17, 28, 37]

In [13]:
len(lotto)

6

In [15]:
ar1 = [70,80,90]
ar2 = [80,90,60]

ar3 = ar1+ar2
ar3

[70, 80, 90, 80, 90, 60]

In [17]:
ar3[1:2]

[80]

In [18]:
ar3[1]= 88
ar3

[70, 88, 90, 80, 90, 60]