In [3]:
arr1 = [
    [1,3,5],#1번행
    [3,5,7],#2번행
    [5,7,9] #3번행
]

In [6]:
arr1[0], arr1[1], arr1[2]

([1, 3, 5], [3, 5, 7], [5, 7, 9])

In [9]:
arr1[0][0] = 99
arr1

[[99, 3, 5], [3, 5, 7], [5, 7, 9]]

In [24]:
# 로또번호 생성
import random
lotto = []
lotto = [
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45)
]

lotto

[24, 39, 12, 14, 35, 41]

In [32]:
# 로또번호 생성
import random
lotto = []
lotto.append(random.randint(1,45))
lotto.append(random.randint(1,45))
lotto.append(random.randint(1,45))
lotto.append(random.randint(1,45))
lotto.append(random.randint(1,45))
lotto.append(random.randint(1,45))
lotto

[24, 20, 17, 22, 14, 37]

In [40]:
arr2 =[1,2,3]
arr2.insert(10,4) # 숫자가 아무리 커도 그냥 마지막에 추가함
arr2

[1, 2, 3, 4]

In [44]:
lotto.sort(reverse=True) #내부정렬
lotto.reverse()
lotto

[14, 17, 20, 22, 24, 37]

In [49]:
lotto.pop(2)

20

In [50]:
lotto

[14, 17, 22]

In [51]:
lotto.remove(17)
lotto

[14, 22]

## 연습문제

In [57]:
lst1 = [1,3,5,4,2]
# lst1[::-1]
lst1.reverse()
lst1

[2, 4, 5, 3, 1]

In [73]:
lst2 = ['Python','is','too','interesting']
# print(f"{lst2[0]} {lst2[1]} {lst2[2]} {lst2[3]}")
" ".join(lst2)

'Python is too interesting'

In [75]:
1,2 #괄호 없이 ,로 숫자를 입력하면 자동으로 튜플로 인식한다

(1, 2)

In [76]:
t1 = 1,2,3
t1

(1, 2, 3)

In [78]:
# t1[1] = 30 에러나옴 튜플은 수정이 불가능

In [79]:
list("love")

['l', 'o', 'v', 'e']

In [82]:
참석자 = set()
day1 = {'홍길동', '김길동', '이길동'}
참석자.update(day1)
day2 = {'박길동', '홍길동',' 최길동'}
참석자.update(day2)
참석자 #중복된 홍길동이 자동으로 배제됨

{' 최길동', '김길동', '박길동', '이길동', '홍길동'}

In [85]:
참석자.remove(' 최길동')
참석자

KeyError: ' 최길동'

In [86]:
참석자 - day1

{'박길동'}

In [87]:
day1 & day2

{'홍길동'}

In [89]:
day1 | day2

{' 최길동', '김길동', '박길동', '이길동', '홍길동'}

In [90]:
# 로또번호 생성
import random
lotto = set()
lotto.add(random.randint(1,45))
lotto.add(random.randint(1,45))
lotto.add(random.randint(1,45))
lotto.add(random.randint(1,45))
lotto.add(random.randint(1,45))
lotto.add(random.randint(1,45))
lotto

{1, 2, 8, 20, 23, 25}

## 연습문제

In [104]:
a= [1,1,2,2,3,4,4,5,6,7,2]
a = list(set(a))
a.sort(reverse=True)
a

[7, 6, 5, 4, 3, 2, 1]

In [105]:
names = ["홍","김","이"]
scores = [70,90,80]
score_dict = {"홍":70, "김":90, "이":80}
score_dict

{'홍': 70, '김': 90, '이': 80}

In [107]:
list(score_dict.keys())

['홍', '김', '이']

In [115]:
v = list(score_dict.values())
sum(v) / len(v) #평균

80.0

In [112]:
list(score_dict.items()) #추후 반복문에서 사용하기 위해 리스트 형태로 변환

[('홍', 70), ('김', 90), ('이', 80)]

In [117]:
"강" in list(score_dict.keys())

False

## 연습문제

In [172]:
A = {'a':90, 'B':80, 'C':70}
b = list(A.values())
b[1]
A.pop('B')
A

{'a': 90, 'C': 70}

In [131]:
ans = input("성별입력(MALE, FEMALE)")
if ans == 'MALE':
    print('남성')
else:
    print('여성')

성별입력(MALE, FEMALE)MALE
남성

## 연습문제

In [133]:
height = input("키를 입력하세요: ")
weight = input("몸무게를 입력하세요: ")
a = int(weight) + 100 - int(height)
if  a > 0 :
    print("비만 수치는 %d입니다.\n당신은 비만입니다."%a )

키를 입력하세요: 155
몸무게를 입력하세요: 60
비만 수치는 5입니다.
당신은 비만입니다.

In [193]:
# 숫자맞추기 게임
# 컴퓨터가 1~100사이 난수 생성
# 시도한 횟수가 10회 넘으면 메시지: 당신은 바보입니까?
import random
com = random.randint(1,100)
count = 0

In [207]:
count = count + 1
correct = False
user = 55
print(f"{count}번째 시도")
if com == user:
    correct = True
    print("정답입니다")
elif com < user:
    print("낮춰주세요")
else:
    print("높여주세요")

if correct == False and count > 10:
    print("당신은 바보입니까?")

14번째 시도
낮춰주세요
당신은 바보입니까?

In [213]:
# 학점 판정 A:90이상 B:80이상 C:70이상 D:나머지
score = 91
grade = "A" if score > 90 else "B" if score > 80 else "C" if score> 70 else "D"

grade

'A'

In [10]:
#컴  1~100 난수 생성

#시도한 횟수가 10회넘으면

#메시지: 당신은 바보입니까?
import random
com = random.randint(1,100)
try_count = 0 # 시도횟수

In [3]:
correct = False #답 맞춤여부

#반복조건. 숫자가 다른경우
user = 0
while user != com:
    try_count += 1 # try_count = try_count + 1
    user = input("1~100사이 숫자 입력 ")
    user = int(user)
    print( f"{try_count}번째 시도")
    if com == user:
        correct = True #정답
        print("추카추카 정답입니다!!")
    elif com < user:
        print("낮춰주세요")
    else:
        print("높여주세요")
    if correct == False and try_count > 10:
        print("당신은 바보입니까?")

정답은?: 85
낮춰주세요
정답은?: 84
낮춰주세요
정답은?: 50
높여주세요
정답은?: 60
높여주세요
정답은?: 65
높여주세요
정답은?: 66
높여주세요
정답은?: 70
높여주세요
정답은?: 79
낮춰주세요
정답은?: 78
낮춰주세요
정답은?: 75
낮춰주세요
정답은?: 74
낮춰주세요
정답은?: 73
낮춰주세요
정답은?: 72
낮춰주세요
정답은?: 71
낮춰주세요
당신은 바보입니까?

In [4]:
scores = [70,80,90]
# 총합계산
tot = 0
for s in scores:
    tot += s
print(tot/len(scores))

80.0

In [ ]:
#컴  1~100 난수 생성

#시도한 횟수가 10회넘으면

#메시지: 당신은 바보입니까?
import random
com = random.randint(1,100)
try_count = 0 # 시도횟수

correct = False
for i in range(0,10):
    try_count += 1 
    user = input("1~100사이 숫자 입력 ")
    user = int(user)
    print( f"{try_count}번째 시도")
    if com == user:
        correct = True
        print("추카추카 정답입니다!!")
        break;
    elif com < user:
        print("낮춰주세요")
    else:
        print("높여주세요")
    if correct == False and try_count >= 10:
        print("당신은 바보입니까?")

In [19]:
tot = 0
for i in range(0,100):
    tot+= i+1
print(tot)

5050

In [24]:
# dan = 3
for dan in range(2,10):
    for i in range(1,10):
        print(f"{dan}*{i} = {dan*i}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [38]:
test2D = [[1,2,3],[4,5,6],[7,8,9,10]]
for i in test2D:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
10

In [ ]:
cnt = 0
for i in range(10):
    #??? 중간에 채우는 것이 평가 문제로 나옴
print(cnt) #결과물 20

In [39]:
for i in range(10):
    pass

In [42]:
scores = [70,80,90]
print([True if s<80 else False for s in scores])
print([s/10 for s in scores])
scores = [str(s) for s in scores ]
"-".join(scores)

[True, False, False]
[7.0, 8.0, 9.0]

'70-80-90'

In [100]:
# 컴퓨터가 1,2,3 난수로 생성 -> 가위, 바위, 보로 출력
# 단 if 사용하지 않고 // 조건문 없이 분기 가르는 방법
# 리스트 혹은 딕셔너리 사용
import random
com = random.randint(1,3)
game = {1:"가위",2:"바위",3:"보"}
game[com]

'보'

In [101]:
arr = ["가위","바위","보"]
arr[com-1]

'보'

In [107]:
def my_hello():
    return ("hello") # 본문은 객체로 저장됨

ans = my_hello() # -> hello
print(ans)
# my_hello("홍길동") # -> hello 홍길동
print(my_hello)
aa = my_hello # 함수 my_hello의 주소값 복사
aa() # my_hello()와 같은 주소를 가리키는 변수 aa

hello
<function my_hello at 0x0000024AB9ACC160>

'hello'