In [20]:
bool(None)
bool(0)
bool(0.0)
bool([]) # 빈 리스트
bool(set())
bool(dict())
bool("") # 빈 문자열
bool(" ") # 공백 문자열(True)

True

In [22]:
s1 = "구름에 \
달 가듯이 \
가는 \
나그네"
s1

'구름에 \n달 가듯이 \n가는 \n나그네'

In [23]:
age = 30
"홍길동의 나이는 " + str(age)

'홍길동의 나이는 30'

In [29]:
# 문자열 포맷팅 3가지(출력형식정하기)
# 1. %
name = "홍길동"
age = 30
"%s의 나이는 %d" % (name,age)

'홍길동의 나이는 30'

In [30]:
# str.format
"{}의 나이는 {}".format(name,age)

'홍길동의 나이는 30'

In [38]:
# 3. f-string
f'{name}의 나이는 {age}, 태어난 연도는 {2022-age}'

'홍길동의 나이는 30, 태어난 연도는 1992'

In [39]:
arr = "A:B:C:D".split(":")
arr

['A', 'B', 'C', 'D']

In [40]:
# 리스트를 구분자로 연결한 문자열로 생성
"--".join(arr)

'A--B--C--D'

In [41]:
ans = input('나이를 입력하세요')

나이를 입력하세요30

In [43]:
2022- int(ans)

1992

In [58]:
mylist = [1,3,5] # 1,3,5 -> item(항목) -> 저장된 값 -> 1차원
mylist = [[1,2],[3,4],[5,6]] #2 차원

In [59]:
mylist[0] # 0행

[1, 2]

In [100]:
year = int(input('년 : '))
month = int(input('월 : '))
month_yoon=0
day = int(input('일 : '))
yoon = (year % 400) # 21
yoon_1 = yoon % 4 # 2 
yoon_2 = (yoon-1)//7 # 3
if year % 4 ==0:
    month_yoon = {'0':0,'1':3,'2':4,'3':7,'4':9,'5':12,'6':14,'7':17,'8':20,'9':22,'10':25,'11':27,'12':30}
else:
    month_yoon = {'0':0,'1':3,'2':3,'3':6,'4':8,'5':11,'6':13,'7':16,'8':19,'9':21,'10':24,'11':26,'12':29}
a = {1:'월요일', 2: '화요일',3:'수요일',4:'목요일',5:'금요일',6:'토요일',7:'일요일'}
whatday = (yoon_2+ yoon_1+month_yoon[str(month-1)] + day)%7
a[whatday]

년 : 2022
월 : 8
일 : 30

'화요일'

In [84]:
arr = [1,3,5]

In [82]:
arr[::-1] # 역순이된 리스트 생성, 반환, 원본수정 안함

[5, 3, 1]

In [86]:
arr

[1, 3, 5]

In [83]:
arr.reverse() # 원본 리스트 역순
arr

[5, 3, 1]

In [92]:
names = ['홍','김','박','홍']
names.pop(1) # 김 삭제
names

['홍', '박', '홍']

In [91]:
names.remove('홍')
names

['박', '홍']

In [99]:
# 로또번호 생성, 저장
lotto_list = []
lotto_set = set()

import random
num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

print(lotto_list)
print(lotto_set)

[19, 19, 7, 15, 37, 19]
{19, 15, 37, 7}

In [101]:
# while문으로 2단 구구단 출력
count = 1
while(True):
    print(f'2 * {count} = {2*count}')
    count +=1
    if count == 10:
        break

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [105]:
dan = 2
for i in list(range(1,10)):
    print(dan*i)

2
4
6
8
10
12
14
16
18

In [106]:
sum(list(range(1,101)))

5050

In [118]:
arr3 = [[1,2,3],[4,5,6],[7,8,9,10]]
for a in arr3:
    for b in a:
        print('')
        for i in list(range(1,10)):
            print(b*i,end=' ')

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90

In [120]:
scores=[
    ['홍',70],
    ['김',80],
    ['박',70]
]
tot = 0
# 학생평균 계산
for sc in scores:
    tot += sc[1]
print("평균=",tot/len(scores))

평균= 73.33333333333333

In [121]:
arr4= [1,2,1,1,2]
# 1=홀, 2=짝 변환 출력[홀,짝,홀,홀,짝]
['짝' if i%2==0 else '홀' for i in arr4]

['홀', '짝', '홀', '홀', '짝']

In [127]:
def calc_many(choice,*args):
    if choice =="sum":
        return(sum(args))
    elif choice == 'mul':
        tot=1
        for i in args:
            tot *= i
        return tot
print(calc_many("sum",1,3,5))
print(calc_many("mul",3,2,4))

9
24